@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    #back{
        width: 1%;
        padding: 1%;
        background-color: rgb(245, 245, 182);
        border-radius: 100px;
        position: fixed;
    }
    .price{
        width: 20%;
        font-size: 80%;
        background-color: red;
        float: right;
        padding: 2%;
        color: white;
        font-weight: bolder;
    }
    .cart-container{
        display: inline-block;
        border: 1px solid #000000;
        padding: 1%;
        margin-left: 3%;
        margin-top: 1%;
        width: 27%;
        height: 120px;
    }
    .cart-img{
        width: 20%;
        height: 100px;
    }
    .rest{
        width: 77%;
        position: relative;
        margin-left: 34%;
        margin-top: -33%;
    }
    .decrease, .increase{
        margin-top: 7%;
        margin-bottom: 6%;
        width: 10%;
        padding: 1%;
    }
    .remove, .decrease{
        background-color: red;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .increase{
        background-color: green;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .remove{
        width: 29%;
        padding: 1%;
    }
    input{
        width: 10%;
        text-align: center;
        padding: 1%;
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1500px) {
    #back{
        width: 1%;
        padding: 1%;
        background-color: rgb(245, 245, 182);
        border-radius: 100px;
        position: fixed;
    }
    .price{
        width: 20%;
        font-size: 80%;
        background-color: red;
        float: right;
        padding: 2%;
        color: white;
        font-weight: bolder;
    }
    .cart-container{
        display: inline-block;
        border: 1px solid #000000;
        padding: 1%;
        margin-left: 3%;
        margin-top: 1%;
        width: 27%;
        height: 120px;
    }
    .cart-img{
        width: 20%;
        height: 100px;
    }
    .rest{
        width: 77%;
        position: relative;
        margin-left: 34%;
        margin-top: -30%;
    }
    .decrease, .increase{
        margin-top: 7%;
        margin-bottom: 6%;
        width: 10%;
        padding: 1%;
    }
    .remove, .decrease{
        background-color: red;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .increase{
        background-color: green;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .remove{
        width: 29%;
        padding: 1%;
    }
    input{
        width: 10%;
        text-align: center;
        padding: 1%;
    }
}


@media only screen and (min-width: 1501px) {
    #back{
        width: 1%;
        padding: 1%;
        background-color: rgb(245, 245, 182);
        border-radius: 100px;
        position: fixed;
    }
    .price{
        width: 20%;
        font-size: 80%;
        background-color: red;
        float: right;
        padding: 2%;
        color: white;
        font-weight: bolder;
    }
    .cart-container{
        display: inline-block;
        border: 1px solid #000000;
        padding: 1%;
        margin-left: 3%;
        margin-top: 1%;
        width: 27%;
        height: 120px;
    }
    .cart-img{
        width: 20%;
        height: 100px;
    }
    .rest{
        width: 77%;
        position: relative;
        margin-left: 34%;
        margin-top: -30%;
    }
    .decrease, .increase{
        margin-top: 7%;
        margin-bottom: 6%;
        width: 10%;
        padding: 1%;
    }
    .remove, .decrease{
        background-color: red;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .increase{
        background-color: green;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .remove{
        width: 29%;
        padding: 1%;
    }
    input{
        width: 10%;
        text-align: center;
        padding: 1%;
    }
}