@media only screen and (min-width: 300px) and (max-width: 450px) {
    body{
        width: 98%;
        overflow-x: hidden;
    }
    main{
        width: 98%;
        overflow-x: hidden;
    }
    #back{
        width: 5%;
        padding: 1%;
        background-color: rgb(245, 245, 182);
        border-radius: 100px;
        position: fixed;
    }
    .price{
        width: 25%;
        background-color: red;
        float: right;
        padding: 2%;
        color: white;
        font-weight: bolder;
    }
    .cart-container{
        border: 1px solid #000000;
        padding: 1%;
        margin-top: 1%;
        width: 98%;
        height: 120px;
    }
    .cart-img{
        width: 20%;
        height: 100px;
    }
    .rest{
        width: 77%;
        position: relative;
        margin-left: 29%;
        margin-top: -30%;
    }
    .decrease, .increase{
        margin-top: 7%;
        margin-bottom: 6%;
        width: 10%;
        padding: 1%;
    }
    .remove, .decrease{
        background-color: red;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .increase{
        background-color: green;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .remove{
        width: 22%;
        padding: 1%;
    }
    input{
        width: 10%;
        text-align: center;
        padding: 1%;
    }
}


@media only screen and (min-width: 451px) and (max-width: 600px) {
    #back{
        width: 2%;
        padding: 1%;
        background-color: rgb(245, 245, 182);
        border-radius: 100px;
        position: fixed;
    }
    .price{
        width: 30%;
        font-size: 80%;
        background-color: red;
        float: right;
        padding: 2%;
        color: white;
        font-weight: bolder;
    }
    .cart-container{
        display: inline-block;
        border: 1px solid #000000;
        padding: 1%;
        margin-left: 1%;
        margin-top: 1%;
        width: 46%;
        height: 120px;
    }
    .cart-img{
        width: 20%;
        height: 100px;
    }
    .rest{
        width: 77%;
        position: relative;
        margin-left: 34%;
        margin-top: -40%;
    }
    .decrease, .increase{
        margin-top: 7%;
        margin-bottom: 6%;
        width: 10%;
        padding: 1%;
    }
    .remove, .decrease{
        background-color: red;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .increase{
        background-color: green;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .buy, .remove{
        width: 30%;
        padding: 1%;
    }
    input{
        width: 10%;
        text-align: center;
        padding: 1%;
    }
}